@import "tailwindcss";

/* ===== Scrollbar (Chrome, Edge, Safari) ===== */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: #007af4;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #69bcf4;
}

/* 🚫 حذف فلش‌های بالا / پایین */
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

@font-face {
  font-family: "yekan-medium";
  src: url("fonts/YekanBakh/YekanBakh-Medium.ttf");
}
@font-face {
  font-family: "sans-medium";
  src: url("fonts/Sans/Sans-Medium.ttf");
}

@theme {
  --color-primary: #69bcf4;
  --color-secondary: #007af4;
  --color-accent: #002ee8;
  --color-Neutral-800: #303030;
  --color-Neutral-200: #d1d4d4;
  --color-Neutral-300: #c2c5c6;
  --color-Neutral-400: #a4a9aa;
  --color-Neutral-500: #858c8d;
  --color-Neutral-600: #676f71;
  --color-Neutral-100: #dedede;
  --color-Neutral-700: #bababa;
  --color-menu: #001f5e;
  --color-light-bg: #dcebf4;
  --color-white: #ffffff;
  --color-white-text: #ffffff;
  --color-fixed-bg: #ffffff;
  --color-link: #0052ff;
  --color-Neutral-50: #f6f6f6;
  --color-error-600: #c50000;
  --color-error-500: #d32f2f;
  --color-error-400: #f87171;
  --color-error-100: #ffeded;
  --color-warning-600: #ec8514;
  --color-warning-500: #f3a62c;
  --color-warning-400: #f4b740;
  --color-succuces-600: #008364;
  --font-yekan-medium: "yekan-medium";
  --font-sans-medium: "sans-medium";
}

@layer components {
  .container {
    @apply max-w-full flex flex-col items-center;
  }
  .second-container {
    @apply !px-10;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}

body {
  font-family: "yekan-medium";
}

.card-hover-default:hover {
  transition: all 0.3s ease;
  box-shadow: 0px 14px 15px 0px rgba(0, 0, 0, 0.08), inset 0px -5px 0 0 #69bcf4;
}

.social-media_contact-us {
  border-radius: 0% 0% 51% 52% / 5% 1% 42% 43%;
  corner-shape: bevel bevel round round;
}
